<div *ngIf="user" class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="header"><img src="ofcom.gif" alt="Ofcom"> Spectrum Monitor <span class="version">{{version}}</span></h1>
      <psm-login [user]="user"></psm-login>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-9">
      <psm-table [modes]="modes" (select)="setConfig($event)" [user]="user" [status]="status.worker"></psm-table>
      <psm-charts *ngIf="config" [config]="config" [status]="status.worker"></psm-charts>
    </div>
    <div class="col-lg-3">
      <psm-error></psm-error>
      <psm-details [user]="user"></psm-details>
      <psm-stats *ngIf="user.roleIn(['admin'])"></psm-stats>
      <psm-rig *ngIf="user.roleIn(['admin'])" [models]="models" [rates]="rates" [parities]="parities"></psm-rig>
      <psm-audio *ngIf="user.roleIn(['admin', 'freq'])"></psm-audio>
      <psm-rds *ngIf="user.roleIn(['admin', 'freq'])"></psm-rds>
      <psm-scan *ngIf="user.roleIn(['admin', 'freq'])" [modes]="modes" [config]="values" [status]="status"></psm-scan>
    </div>
  </div>
</div>
<div id="messageModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Dismiss</button>
      </div>
    </div>
  </div>
</div>
