<div *ngIf="debug">
  <ul>
    <li *ngFor="let t of times"><b>{{t.key}}</b> {{t.time}}ms</li>
  </ul>
</div>
<psm-range [config]="config" [status]="status" (onRange)="show($event)"></psm-range>
<psm-frequency [data]="spectrum" [freqs]="config.values.freqs" [names]="rdsNames"></psm-frequency>
<psm-level [data]="spectrum" [freqs]="config.values.freqs" [names]="rdsNames"></psm-level>
<psm-waterfall [data]="spectrum" [audio]="audio" [freqs]="config.values.freqs" [names]="rdsNames"></psm-waterfall>
<psm-rds-table [names]="rdsNames" [text]="rdsText"></psm-rds-table>
