<psm-widget title="Scanner">
  <form role="form" (ngSubmit)="onStart()" #form="ngForm">
    <div class="form-group">
      <label for="model">Mode</label>
      <select class="form-control" [disabled]="loading || status.config_id" [(ngModel)]="config.scan.mode" name="model">
        <option *ngFor="let mode of modes" value="{{mode.mode}}">{{mode.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="start">Frequency range</label>
      <div>
        <div class="psm-input-group col-lg-3">
          <input [disabled]="loading || standby || status.config_id" type="text" required class="form-control" [(ngModel)]="config.freqs.range[0]" name="start" #start="ngModel">
          <div class="help">start</div>
        </div>
        <div class="psm-input-group col-lg-3">
          <input [disabled]="loading || standby || status.config_id" type="text" required class="form-control" [(ngModel)]="config.freqs.range[1]" name="end" #end="ngModel">
          <div class="help">end</div>
        </div>
        <div class="psm-input-group col-lg-3">
          <input [disabled]="loading || standby || status.config_id" type="text" required class="form-control" [(ngModel)]="config.freqs.range[2]" name="step" #step="ngModel">
          <div class="help">step</div>
        </div>
        <div class="psm-input-group col-lg-3">
          <select class="form-control" [disabled]="loading || standby || status.config_id" [(ngModel)]="config.freqs.exp" name="units">
            <option *ngFor="let u of units" value="{{u.value}}">{{u.label}}</option>
          </select>
          <div class="help">units</div>
        </div>
      </div>
      <div [hidden]="validNumber(start) && validNumber(end) && validNumber(step)" class="alert alert-danger">
        Frequency range is a required parameter, and must consist of numbers
      </div>
      <div [hidden]="! validNumber(start) || ! validNumber(end) || ! validNumber(step) || validRange()" class="alert alert-danger">
        Invalid range: end frequency must be greater than start frequency
      </div>
    </div>
    <div class="form-group">
      <label for="attempts">Interval (ms)</label>
      <input [disabled]="loading || standby || status.config_id" type="number" min="0" step="100" required class="form-control" [(ngModel)]="config.monitor.period" name="period" #period="ngModel">
      <div [hidden]="period.valid || period.pristine" class="alert alert-danger">
        Minimum interval is a required parameter, and must be a number
      </div>
    </div>
    <div *ngIf="status.config_id" [ngClass]="{ status: true, error: status.error }">
      <span>Last sweep at {{lastSweepTime}}</span>
      <span *ngIf="status.error">{{status.error}}</span>
    </div>
    <button (click)="onReset()" class="btn btn-default" [disabled]="loading || standby || form.form.pristine || status.config_id">Reset</button>
    <button type="submit" class="btn btn-default" [disabled]="loading || standby || ! form.form.valid || ! validRange() || status.config_id">Start</button>
    <button (click)="onStop()" class="btn btn-default" [disabled]="loading || standby || ! status.config_id">Stop</button>
  </form>
</psm-widget>
