<div class="container">
  <h1 (click)="toggle()">
    Data Storage Statistics
    <span *ngIf="show" class="toggle glyphicon glyphicon-collapse-down"></span>
    <span *ngIf="! show" class="toggle glyphicon glyphicon-collapse-up"></span>
    <span *ngIf="loading" class="busy glyphicon glyphicon-transfer"></span>
  </h1>
  <form *ngIf="show">
    <div class="form-group">
      <label for="path">Total index size</label>
      <input readonly type="text" class="form-control" value="{{stats.size_in_bytes | bytes}}">
    </div>
    <div class="form-group">
      <label for="path">Number of records</label>
      <input readonly type="text" class="form-control" value="{{stats.doc_count}}">
    </div>
  </form>
</div>
