<h1>Scan Configuration</h1>
<h2 *ngIf="errorMessage">{{errorMessage}}</h2>
<select [(ngModel)]="config_id">
  <option value="">Select...</option>
  <option *ngFor="let set of sets" value="{{set.config_id}}">{{format(set)}}</option>
</select>
<button [disabled]="waiting || config_id === ''" (click)="onDelete()">Delete</button>
<button [disabled]="waiting || config_id === ''" (click)="onExport()">Export</button>
<button [disabled]="waiting || config_id === ''" (click)="onDownload()">Download</button>
