<psm-widget>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>First timestamp</th>
        <th>Last timestamp</th>
        <th>Sweeps</th>
        <th>Mode</th>
        <th>Frequencies</th>
        <th class="feature">RDS</th>
        <th class="feature">Audio</th>
        <th *ngIf="user.roleIn(['admin'])">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let config of configs" (click)="onSelect(config.id, $event)" [ngClass]="{ 'row-selected': selected == config.id }">
        <td>{{config.timestamp | date}}</td>
        <td>{{config.latest | date}}</td>
        <td>{{config.count}}</td>
        <td>{{mode(config.values.scan.mode)}}</td>
        <td>
          <span *ngIf="config.values.freqs.range">
            {{config.values.freqs.range[0]}} - {{config.values.freqs.range[1]}} (&Delta; {{config.values.freqs.range[2]}}) {{config.values.freqs.exp | units}}
          </span>
          <span *ngIf="config.values.freqs.freqs">
            <span *ngFor="let freq of config.values.freqs.freqs; let n = index">
              <span *ngIf="n < 2">{{freq.f}}{{freq.exp | units}}&nbsp;</span>
              <span *ngIf="n == 2">&hellip;</span>
            </span>
          </span>
        </td>
        <td class="feature">{{config.values.scan.rds == 'true' ? '✔' : '✘' }}</td>
        <td class="feature">{{config.values.scan.audio == 'true' ? '✔' : '✘'}}</td>
        <td *ngIf="user.roleIn(['admin'])">
          <input *ngIf="! running(config)" type="checkbox" [disabled]="standby" [(ngModel)]="checked[config.id]">
          <span *ngIf="running(config)" class="running">&#x25FC;</span>
        </td>
      </tr>
    </tbody>
  </table>
  <button type="button" (click)="onExport()" class="btn btn-default btn-selected" [disabled]="loading || ! selected">Export</button>
  <button type="button" (click)="onDownload()" class="btn btn-default btn-selected" [disabled]="loading || ! selected">Download</button>
  <div *ngIf="user.roleIn(['admin'])" class="btn-right">
    <button type="button" (click)="onCheckAll()" class="btn btn-default" [disabled]="loading || standby || checkedIds().length == maxChecked">All</button>
    <button type="button" (click)="onCheckNone()" class="btn btn-default" [disabled]="loading || standby || checkedIds().length == 0">None</button>
    <button type="button" (click)="onDelete()" class="btn btn-default" [disabled]="loading || standby || checkedIds().length == 0"><input type="checkbox" onclick="return false" checked>&nbsp;Delete</button>
  </div>
</psm-widget>
