<psm-widget>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Timestamp</th>
        <th>Mode</th>
        <th colspan="4">Frequency range</th>
        <th>Interval</th>
        <th *ngIf="user.roleIn(['admin'])">&nbsp;</th>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>start</td>
        <td>end</td>
        <td>step</td>
        <td>units</td>
        <td>ms</td>
        <td *ngIf="user.roleIn(['admin'])">&nbsp;</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let set of sets" (click)="onSelect(set.config_id, $event)" [ngClass]="{ 'row-selected': selected == set.config_id }">
        <td>{{formatTime(set.timestamp)}}</td>
        <td>{{mode(set.config.scan.mode)}}</td>
        <td>{{set.config.freqs.range[0]}}</td>
        <td>{{set.config.freqs.range[1]}}</td>
        <td>{{set.config.freqs.range[2]}}</td>
        <td>{{units(set.config.freqs.exp)}}</td>
        <td>{{set.config.monitor.period}}</td>
        <td *ngIf="user.roleIn(['admin'])">
          <input *ngIf="set.config_id != config_id" type="checkbox" [disabled]="standby" [(ngModel)]="checked[set.config_id]">
          <span *ngIf="set.config_id == config_id" class="running">&#x25FC;</span>
        </td>
      </tr>
    </tbody>
  </table>
  <button type="button" (click)="onExport()" class="btn btn-default btn-selected" [disabled]="loading || ! selected">Export</button>
  <button type="button" (click)="onDownload()" class="btn btn-default btn-selected" [disabled]="loading || ! selected">Download</button>
  <div *ngIf="user.roleIn(['admin'])" class="btn-right">
    <button type="button" (click)="onCheckAll()" class="btn btn-default" [disabled]="loading || standby || checkedIds().length == maxChecked">All</button>
    <button type="button" (click)="onCheckNone()" class="btn btn-default" [disabled]="loading || standby || checkedIds().length == 0">None</button>
    <button type="button" (click)="onDelete()" class="btn btn-default" [disabled]="loading || standby || checkedIds().length == 0"><input type="checkbox" onclick="return false" checked>&nbsp;Delete</button>
  </div>
</psm-widget>
