<p *ngIf="loading != undefined">Loading... ({{loading}}0%)</p>
<ng-container *ngIf="enabled('hamlib')">
  <psm-frequency worker="hamlib"></psm-frequency>
  <psm-level worker="hamlib"></psm-level>
  <psm-temperature worker="hamlib"></psm-temperature>
  <psm-waterfall worker="hamlib"></psm-waterfall>
</ng-container>
<ng-container *ngIf="enabled('rds')">
  <psm-frequency worker="rds"></psm-frequency>
  <psm-level worker="rds"></psm-level>
  <psm-waterfall worker="rds"></psm-waterfall>
  <psm-sample-table worker="rds"></psm-sample-table>
  <psm-rds-table worker="rds"></psm-rds-table>
</ng-container>
<ng-container *ngIf="enabled('sdr')">
  <psm-frequency worker="sdr"></psm-frequency>
  <psm-level worker="sdr"></psm-level>
  <psm-waterfall worker="sdr"></psm-waterfall>
</ng-container>
<ng-container *ngIf="enabled('ams')">
  <psm-frequency worker="ams"></psm-frequency>
  <psm-level worker="ams"></psm-level>
  <psm-waterfall worker="ams"></psm-waterfall>
</ng-container>
