<psm-widget title="Receiver Scanner">
  <form role="form" #form="ngForm" novalidate>
    <div class="form-group">
      <label [attr.for]="mode">Mode</label>
      <select psmInput class="form-control" [(ngModel)]="values.mode" name="mode">
        <option *ngFor="let o of caps.modes" [value]="o.value">{{o.label}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="start">Frequency range</label>
      <input psmInput type="checkbox" (ngModelChange)="freqsEnabled = rangeEnabled" [(ngModel)]="rangeEnabled" class="toggle" name="range">
      <div>
        <div class="psm-input-group col-lg-3">
          <input psmInput [disabled]="! rangeEnabled" type="text" required class="form-control" [(ngModel)]="values.freqs[0].range[0]" name="start" #start="ngModel">
          <div class="help">start</div>
        </div>
        <div class="psm-input-group col-lg-3">
          <input psmInput [disabled]="! rangeEnabled" type="text" required class="form-control" [(ngModel)]="values.freqs[0].range[1]" name="end" #end="ngModel">
          <div class="help">end</div>
        </div>
        <div class="psm-input-group col-lg-3">
          <input psmInput [disabled]="! rangeEnabled" type="text" required class="form-control" [(ngModel)]="values.freqs[0].range[2]" name="step" #step="ngModel">
          <div class="help">step</div>
        </div>
        <div class="psm-input-group col-lg-3">
          <select psmInput class="form-control" [disabled]="! rangeEnabled" [(ngModel)]="values.freqs[0].exp" name="units">
            <option *ngFor="let u of units" value="{{u.value}}">{{u.label}}</option>
          </select>
          <div class="help">units</div>
        </div>
      </div>
      <div [hidden]="! rangeEnabled || (validNumber(start) && validNumber(end) && validNumber(step))" class="alert alert-danger">
        Frequency range is a required parameter, and must consist of numbers
      </div>
      <div [hidden]="! rangeEnabled || ! validNumber(start) || ! validNumber(end) || ! validNumber(step) || validRange" class="alert alert-danger">
        Invalid range: end frequency must be greater than start frequency
      </div>
    </div>
    <div class="form-group freqlist">
      <label>Discrete frequencies</label>
      <input psmInput type="checkbox" (ngModelChange)="rangeEnabled = freqsEnabled" [(ngModel)]="freqsEnabled" class="toggle" name="freqs">
      <div *ngFor="let freq of values.freqs; let n = index; let last = last">
        <ng-container *ngIf="freq.range == undefined">
          <div class="psm-input-group col-lg-3">
            <input psmInput [disabled]="! freqsEnabled" type="text" required class="form-control" [(ngModel)]="freq.freq" name="value_{{n}}">
            <div *ngIf="last" class="help">value</div>
          </div>
          <div class="psm-input-group col-lg-3">
            <select psmInput class="form-control" [disabled]="! freqsEnabled" [(ngModel)]="freq.exp" name="units_{{n}}">
              <option *ngFor="let u of units" value="{{u.value}}">{{u.label}}</option>
            </select>
            <div *ngIf="last" class="help">units</div>
          </div>
          <div class="psm-input-group col-lg-3">
            <button class="form-control" [disabled]="! numeric(freq.freq) || ! freqsEnabled" (click)="onInsert(n)">Insert</button>
          </div>
          <div class="psm-input-group col-lg-3">
            <button class="form-control" [disabled]="values.freqs.length <= 2 || ! freqsEnabled" (click)="onDelete(n)">Delete</button>
          </div>
        </ng-container>
      </div>
      <div [hidden]="! freqsEnabled || validFreqs" class="alert alert-danger">
        Discrete frequency values are required, and must consist of numbers
      </div>
    </div>
    <div class="form-group">
      <div class="psm-input-group col-lg-6">
        <label for="audio">Collect audio</label>
        <select psmInput class="form-control" [(ngModel)]="values.audio.enabled" name="audio">
          <option [ngValue]="true">On</option>
          <option [ngValue]="false">Off</option>
        </select>
      </div>
      <div class="psm-input-group col-lg-6">
        <label for="duration">Sample duration (s)</label>
        <input psmInput type="number" pattern="[0-9]+" required class="form-control" [(ngModel)]="values.audio.duration" name="duration" #duration="ngModel">
      </div>
    </div>
    <div [hidden]="duration.valid || duration.pristine" class="alert alert-danger">
      Sample duration is a required integer parameter
    </div>
    <div class="form-group">
      <div class="psm-input-group col-lg-6">
        <label for="threshold">Level threshold (dB)</label>
        <input psmInput type="number" pattern="-?[0-9]+" required class="form-control" [(ngModel)]="values.audio.threshold" name="threshold" #threshold="ngModel">
      </div>
      <div class="psm-input-group col-lg-6">
        <label for="period">Sample period (s)</label>
        <input psmInput type="number" pattern="[0-9]+" required class="form-control" [(ngModel)]="values.audio.period" name="period" #period="ngModel">
      </div>
    </div>
    <div [hidden]="threshold.valid || threshold.pristine" class="alert alert-danger">
      Level threshold is a required integer parameter
    </div>
    <div [hidden]="period.valid || period.pristine" class="alert alert-danger">
      Sample period is a required integer parameter
    </div>
  </form>
</psm-widget>
