<psm-widget>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>User</th>
        <th>First timestamp</th>
        <th>Last timestamp</th>
        <th>Sweeps</th>
        <th>Mode</th>
        <th>Dwell (s)</th>
        <th class="feature">Audio</th>
        <th *ngFor="let column of columns" class="scan-cap">{{column}}</th>
        <th class="indicator">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let config of configs" (click)="onSelect(config.id, $event)" [ngClass]="{ 'row-selected': selected == config.id }">
        <td>{{config.values.user}}</td>
        <td>{{config.timestamp | date}}</td>
        <td>{{config.latest | date}}</td>
        <td>{{config.count}}</td>
        <td>
          <ng-container *ngIf="config.values.rds && config.values.rds.scan.enabled">Scan (FM band)</ng-container>
          <ng-container *ngIf="config.values.rds && config.values.rds.freqs[1].enabled">Static ({{config.values.rds.freqs[1].freq}}MHz)</ng-container>
        </td>
        <td>{{config.values.rds.duration}}</td>
        <td class="feature"><span *ngIf="config.values.rds">{{config.values.rds.audio.enabled ? '✔' : '✘'}}</span></td>
        <td *ngFor="let column of columns">{{label(column, config.values.scan[column])}}</td>
        <td class="indicator">
          <div *ngIf="user.roleIn(['admin']) || running(config)">
            <input *ngIf="! running(config)" type="checkbox" [disabled]="standby" [(ngModel)]="checked[config.id]">
            <span *ngIf="running(config)" class="running">&#x25FC;</span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <button type="button" (click)="onExport()" class="btn btn-default btn-selected" [disabled]="loading || ! selected">Export</button>
  <button type="button" (click)="onDownload()" class="btn btn-default btn-selected" [disabled]="loading || ! selected">Download</button>
  <input type="checkbox" name="rds" [disabled]="loading || ! selected" [(ngModel)]="rds">
  <label for="rds">RDS</label>
  <div *ngIf="user.roleIn(['admin'])" class="btn-right">
    <button type="button" (click)="onCheckAll()" class="btn btn-default" [disabled]="loading || standby || checkedIds().length == maxChecked">All</button>
    <button type="button" (click)="onCheckNone()" class="btn btn-default" [disabled]="loading || standby || checkedIds().length == 0">None</button>
    <button type="button" (click)="onDelete()" class="btn btn-default" [disabled]="loading || standby || checkedIds().length == 0"><input type="checkbox" onclick="return false" checked>&nbsp;Delete</button>
  </div>
</psm-widget>
