# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Project specifics
pi_control
secret.key
example_queries/
*.pyc
*.bak
.*
logs/
samples/
data/
settings/
users.passwords
spectrum/psm_ui/app/*.js
spectrum/psm_ui/app/*.map
spectrum/psm_ui/node_modules
spectrum/psm_ui/typings
spectrum/overseer_ui/app/*.js
spectrum/overseer_ui/app/*.map
spectrum/overseer_ui/node_modules
spectrum/overseer_ui/typings
.cache/
spectrum.egg-info
