.header {
  float: left;
}

/* charts */
.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
line.vertical, line.horizontal {
  fill: none;
  stroke: lightgreen;
  stroke-width: 1px;
}
.chart h1 {
  float: left;
}
.chart form {
  float: right;
  margin-top: 10px;
	margin-bottom: 0px;
}
psm-frequency span {
  margin-right: 15px;
}
rect.info {
	fill: black;
	fill-opacity: 0.2;
}
text.info {
  cursor: default;
}
.freqLabel, .freqCheck {
  cursor: pointer;
}
.hidden {
  opacity: 0;
}

/* widget containers */
.container {
  width: auto;
	background: lightgoldenrodyellow;
  margin: 5px;
}
.container h1 {
	font-size: 20px;
	margin-top: 10;
  cursor: pointer;
}
.container .toggle {
  float: left;
	margin-right: 4px;
}
.container .busy {
  float: right;
}
.container-notitle {
  padding-top: 10px;
  padding-bottom: 10px;
  background: initial;
}

/* specials for the scanner */
.status {
  background: lightgreen;
  padding: 10px;
  margin-bottom: 15px;
}
.status.error {
  background: pink;
}

/* specials for the sweep table component */
tbody tr {
  cursor: default;
}
.btn-selected {
  background: lightblue;
}
.btn-right {
  float: right;
}
.row-selected {
  background: lightblue;
}
.running {
  color: green;
}

/* specials for range display */
.range-slider {
  height: 50px;
}
.range-controls * {
  margin: -2px 0px 5px 10px;
	display: inline-block;
}

/* specials for the login component */
psm-login {
  float: right;
  margin-top: 10px;
  min-width: 450px;
}
psm-login span {
  margin-right: 10px;
}

/* forms */
.ng-valid[required] {
  border-left: 5px solid #42A948; /* green */
}
.ng-invalid {
  border-left: 5px solid #a94442; /* red */
}
.psm-input-group {
	padding: 0px 5px 15px 0px;
}
.psm-input-group:last-child {
	padding-right: 0;
}
