.header {
  float: left;
}

/* charts */
.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
.chart h1 {
  float: left;
}
.chart form {
  float: right;
  margin-top: 10px;
	margin-bottom: 0px;
}

/* widget containers */
.container {
  width: auto;
	background: lightgoldenrodyellow;
  margin: 5px;
}
.container h1 {
	font-size: 20px;
	margin-top: 10;
  cursor: pointer;
}
.container .toggle {
  float: left;
	margin-right: 4px;
}
.container .busy {
  float: right;
}
.container-notitle {
  padding-top: 10px;
  padding-bottom: 10px;
  background: initial;
}

/* specials for the scanner */
.status {
  background: lightgreen;
  padding: 10px;
  margin-bottom: 10px;
}
.status.error {
  background: pink;
}

/* specials for the sweep table component */
tbody tr {
  cursor: pointer;
}
.btn-selected {
  background: lightblue;
}
.btn-right {
  float: right;
}
.row-selected {
  background: lightblue;
}

/* specials for range display */
.range-controls * {
  margin: -2px 0px 5px 10px;
	display: inline-block;
}

/* specials for the login component */
psm-login {
  float: right;
  margin-top: 10px;
  min-width: 450px;
}
psm-login span {
  margin-right: 10px;
}

/* forms */
.ng-valid[required] {
  border-left: 5px solid #42A948; /* green */
}
.ng-invalid {
  border-left: 5px solid #a94442; /* red */
}
.psm-horizontal-form-group {
  text-align: justify;
}
.psm-horizontal-form-group * {
  text-align: initial;
}
.psm-horizontal-form-group label {
  width: 100%;
}
.psm-input-group {
  display: inline-block;
  width: 23%;
}
.psm-horizontal-form-group:after {
  display: inline-block;
  width: 100%;
  content: '';
}
