/* charts */
.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}


/* containers */
.container {
  width: 400px;
	background: lightgoldenrodyellow;
}
.container h1 {
	font-size: 24px;
	margin-top: 10;
}
.container .toggle {
  float: left;
	margin-right: 4px;
}
.container .busy {
  float: right;
}


/* forms */
.ng-valid[required] {
  border-left: 5px solid #42A948; /* green */
}
.ng-invalid {
  border-left: 5px solid #a94442; /* red */
}
