#error {
  color: red;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

body {
	padding-left: 20px;
	background: #F8F8F0;
}

h1 {
	width: 100%;
	height: 32px;
	background: url(ofcom.gif) no-repeat;
	padding-left: 200px;
}

#config {
	position: relative;
	top: 20px;
  width: 450px;
}

#shield {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: lightgrey;
  z-index: 10;
  opacity: 0.4;
}

#config tr td:first-child {
  text-align: right;
}

#process {
	position: absolute;
	top: 80px;
	left: 600px;
}

#stats {
	position: absolute;
	top: 200px;
	left: 600px;
}

#sweep_set {
	position: absolute;
	top: 350px;	
	left: 600px;
}

#controls {
  display: none;
}

#count {
  display: inline;
  margin-right: 20px;
}

#charts {
  display: none;
	position: absolute;
	top: 500px;
}

svg {
	display: block;
}

#debugSwitch {
	position: absolute;
	left: 750px;
	top: 30px;
}