<p *ngIf="loading">Loading...</p>
<psm-frequency [data]="config.data" [timestamp]="timestamp"></psm-frequency>
<psm-level [data]="config.data" [timestamp]="timestamp"></psm-level>
<psm-temperature [data]="config.data" [timestamp]="timestamp"></psm-temperature>
<psm-waterfall [data]="config.data" [timestamp]="timestamp"></psm-waterfall>
<psm-sample-table [data]="config.data" [config]="config.values" [timestamp]="timestamp"></psm-sample-table>
<psm-rds-table [data]="config.data" [timestamp]="timestamp"></psm-rds-table>
