<psm-widget title="Identification">
  <form role="form" #form="ngForm">
    <div class="form-group">
      <label for="name">Unit name</label>
      <input disabled="true" type="text" class="form-control" [(ngModel)]="ident.name" name="name">
    </div>
    <div class="form-group">
      <label for="description">Description / location</label>
      <input [disabled]="loading || ! user.roleIn(['admin', 'freq'])" type="text" [required]="user.roleIn(['admin', 'freq'])" class="form-control" [(ngModel)]="ident.description" name="description" #description="ngModel">
    </div>
    <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
      Description is a required parameter
    </div>
    <div class="form-group">
      <label for="version">Version</label>
      <input disabled="true" type="text" class="form-control" [(ngModel)]="ident.version" name="version">
    </div>
    <button *ngIf="user.roleIn(['admin', 'freq'])" (click)="onReset()" class="btn btn-default" [disabled]="loading || form.form.pristine">Reset</button>
    <button *ngIf="user.roleIn(['admin', 'freq'])" (click)="onSubmit()" class="btn btn-default" [disabled]="loading || ! form.form.valid || form.form.pristine">Submit</button>
  </form>
</psm-widget>
