<psm-widget title="Data Storage">
  <form>
    <div class="form-group">
      <label for="path">Data size</label>
      <input readonly type="text" class="form-control" value="{{stats.size | bytes}}">
    </div>
    <div class="form-group">
      <label for="path">Audio storage</label>
      <input readonly type="text" class="form-control" value="{{stats.audio | bytes}}">
    </div>
    <div class="form-group">
      <label for="path">Available storage</label>
      <input readonly type="text" class="form-control" value="{{stats.free | bytes}}">
    </div>
  </form>
</psm-widget>
